@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  .card-weapon{
    @apply flex flex-col justify-start ring-2 ring-30-white w-[16em] rounded-xl p-8;
  }

  .button-action{
    @apply text-white bg-10-white hover:bg-10-white/90 dark:text-60-white dark:hover:bg-10-dark/90 dark:bg-10-dark transition;
  }

  .weapon-list{
    @apply mt-10 flex h-screen flex-col gap-3 w-fit overflow-y-auto border-x-[1px] px-3 border-neutral-700;
  }

  .link-hover{
    @apply text-30-dark dark:text-60-white dark:hover:underline dark:hover:text-10-dark dark:hover:decoration-10-dark hover:underline hover:text-10-white hover:decoration-10-white;
  }

  .input{
    @apply cursor-pointer block text-sm rounded-lg outline-none;
  }

  .input-icon{
    @apply absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none;
  }

  .fast-signup{
    @apply rounded-sm p-2 flex gap-2 items-center font-bold cursor-pointer;
  }

  .up-vote{
    @apply text-red-500;
  }

  .down-vote{
    @apply text-blue-500;
  }

  .display-none{
    @apply hidden;
  }
}


:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}