@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  .card-weapon{
    @apply flex flex-col justify-start ring-2 ring-secondary w-[16em] rounded-xl p-8;
  }

  .button-link{
    @apply hover:bg-secondary hover:text-p-text border border-transparent focus:border focus:border-indigo-500 transition;
  }

  .weapon-list{
    @apply mt-10 flex h-screen flex-col gap-3 w-fit overflow-y-auto border-x-[1px] px-3 border-neutral-700;
  }

  .link-hover{
    @apply hover:text-s-text text-p-text hover:underline hover:underline-offset-4 ;
  }

  .input{
    @apply cursor-pointer block text-sm rounded-lg outline-none;
  }

  .input-icon{
    @apply absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none;
  }

  .fast-signup{
    @apply rounded-sm p-2 flex gap-2 items-center font-bold cursor-pointer;
  }

  .up-vote{
    @apply text-red-500;
  }

  .down-vote{
    @apply text-blue-500;
  }
}


:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a1a1a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}